body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEF6BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.containerCartas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.Carta {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 116px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    margin: 17px;
}

.Carta img {
    width: 100px;
    height: 100px;
}

@media (max-width: 860px) {
    h1 {
        font-size: 36px;
    }

    .Chunk {
        flex-direction: column;
    }
}